<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400i" rel="stylesheet">

<head>
    <title>Upward Spiral</title>
</head>

<body>

	<a href="setgoal"><embed class="logo"src="../img/logo.png"></a>
	
	
    <form th:action="@{/logout}" method="get">
         <button class="button logout" id="hide" type="Submit">Logout</button>
    </form>
        
  <div class="greetings2"><span th:utext="${userName}"></span></div>
    <div class="addgoalcontainer">
    <h4 class = "addgoalheader"> Here You Can Add Your Goal</h4>
        <form action="saveGoal" method="post">
                <input class="nameimput" name="name" type="text" th:placeholder="Name">
                <textarea class="descriptionimput" name="description" type="text" th:placeholder="Description"></textarea><br>
            <button class="button savebutton" type="submit">Save</button>
        </form>
      <div class="contbuttons">
        <a href="displayGoals" class="button" style="margin-top: 10px;">View All</a>
        <a href="chooseGoalToMark" class="button" style="margin-top: 10px;">Mark Your Goals</a>
      </div>
          <div class="confirmation" th:text="${msg}"></div> 
    </div>
		<embed class="logo"src="img/Logo.svg">
	
	<form th:action="@{/about}" method="get">
		<button class="button about" id="hide" type="Submit">About</button>
	</form>	
</body>

</html>
