<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

	<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400i" rel="stylesheet"> 
<head>
<title>Upward Spiral</title>
</head>
<body>
	<a href="user/setgoal"><embed class="logo"src="img/logo.png"></a>
	
<h1 class ="form-signin-heading">About this project!</h1>
<div class = "textcont">
<h4 class="head">What is Upward Spiral?</h4>
<p class ="para">
The Upward Spiral is a project that aims to help people to change life by providing convenient way to manage and evaluate daily activities and aspiration. It's an online tool, based on psychotherapeutic techniques of making incremental changes for exponential grow in most life domains. 
</p>
<h4 class="head">Current state of development:</h4>
<p class ="para">
The Upward Spiral lets you set goals, describe them, score your daily progress on a five step scale and view your progress on a chart.
</p>
<h4 class="head">What next?</h4>
<p class ="para">
Focus of The Upward Spiral is to deliver tools witch helps you to monitor your live. Therefore the objective is to build more ways to do it.
Before this can happen, development activities will go into direction of building the strong backbone for the UX facet of the platform.
Further technical information can be found<a style="color: purple;  text-decoration: none;" href="https://github.com/PiotrHoma/UpwardSpiral"> here.</a> 
</p>
<h4 class="head">What about the Android App?</h4> 
<p class ="para">
Not sooner than late 2019.
</p>
</div>
	

</body>
</html>