<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i,600" rel="stylesheet">
<head>
    <title>Login</title>
</head>

<body>
	<form th:action="@{/registration}" method="get">
		<button class="button" id="hide" type="Submit">Go To Registration Page</button>
	</form>	
	
	<div class="login">
	
		<img src="img/a.svg">
		
   	 	<form th:action="@{/login}" method="POST">
       		<h4 class="form-signin-heading">Nice to see You!</h4><br/>

        	<input type="text" id="email" name="email" th:placeholder="Email"/> <br/>
        	<input type="password" id="password" name="password"  th:placeholder="Password"/> <br />

        	<button class="button logbutton" name="Submit" value="Login" type="Submit">Login</button>
        	
        	<div align="center" th:if="${param.error}">
            	<p class ="error">Email or Password invalid, please verify</p>
       	 	</div>
       	 	
    	</form>
	</div>
	<form th:action="@{/about}" method="get">
		<button class="button about" id="hide" type="Submit">About</button>
	</form>	
</body>
</html>